:root {
  --main-color: #ffdd00;
  --main-color-active: #e6c700;
  --secondary-color: #f2f2f2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: capitalize;
}

button {
  text-transform: uppercase;
}

.btn {
  text-transform: uppercase;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--main-color) !important;
  color: black !important;
  border: 0;
  border-radius: 0;
}

.btn-primary:active {
  background-color: var(--main-color-active) !important;
  color: black !important;
}

.logo {
  width: 40px;
  height: 40px;
}

.nav-item.active .nav-link {
  text-decoration: underline;
  text-underline-offset: 0.4em;
  text-decoration-thickness: 0.3em;
  text-decoration-color: var(--main-color);
}
.nav-link {
  color: black !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7rem;
}

.heading-prefix {
  display: block;
  font-size: 1rem;
}

.label {
  text-transform: uppercase;
  font-weight: 700;
}

.input-box,
.input-box:focus {
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.mylearning-section {
  background-color: var(--secondary-color);
}

.mylearning-section .container {
  max-width: 300px;
}

.mylearning-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-arrow-icon {
  width: 0.5em;
  height: 0.5em;
}

.course-catalogue-heading {
  padding-bottom: 0.2em;
  border-bottom: 0.15em solid var(--main-color);
}

.cards {
  gap: 20px;
}

.card {
  width: 10rem;
  text-align: center;
  border: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.card-featured {
  background-color: var(--main-color);
  position: relative;
  top: -5px;
}

.card-title {
  font-size: 1rem;
  height: 39px;
}

.card-img {
  margin-top: 28px;
  width: 3rem;
  height: 3rem;
  margin-bottom: 28px;
}

.course-card-btn {
  font-size: 0.6rem;
  text-transform: uppercase;
  width: 100%;
}

.about-us-section {
  background: linear-gradient(
    to bottom,
    var(--secondary-color) 50%,
    transparent 50%
  );
}

.about-us-container {
  max-width: 700px;
}

.about-us-heading {
  font-size: 1.5rem;
}

.about-us-img {
  box-shadow: -25px -25px var(--main-color);
}

.footer {
  background-color: var(--secondary-color);
}

.footer-container {
  max-width: 1000px;
}

@media (min-width: 48em) {
  .about-us-heading {
    font-size: 2rem;
  }
}
